<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="DBConnect.MyDBConnectionString"
			connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=DESKTOP-V4EPFJ1"
			providerName="System.Data.OleDb" />
	</connectionStrings>
</configuration>